<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <table class="container">
                    <div class="row">
                            <div class="col">
                                <div v-if="logo">
                                    <img style="width: 300px" :src="logo" />
                            </div>
                            <div class="col">
                                    {{ cityName }}
                            </div>
                            <div class="col">
                                    {{ playersName }}
                            </div>
                <tr>
                    <th>Команда</th>
                </tr>
                <tr v-for="t in teams">
                    <td><a v-on:click="showPlayers(t)" href="#">{{t.fields.Name}}</a> </td> 
                </tr>
            </table>

            <div>
                {{ cityName }}
            </div>
            <div>
                {{ symbolName }}
            </div>
            <div v-if="logo">
                <img style="width: 300px" :src="logo" />
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript">
            // Запускаем
            // Vue
            var vueApp = new Vue({
                el: '#app',
                data: {
                    cityName: '',
                    symbolName: '',
                    playersName: '',
                    logo: null,
                    teams: []
                },
                // определяйте методы в объекте `methods`
                methods: {
                    showPlayers: function (team) {
                        console.log(team)
                        this.cityName = team.fields.City;
                        this.symbolName = team.fields.Symbol;
                        this.playersName = team.fields.Players;
                        this.logo = team.fields.Logo[0].thumbnails.large.url;
                    }
                },
                mounted() {
                    let vm = this;
                    fetch('https://api.airtable.com/v0/appe6j3AUcukXUl1Q/Teams?maxRecords=22&view=Grid%20view', { 
                        method: 'get', 
                        headers: new Headers({
                            'Authorization': 'Bearer keyarCDllbc7zjNNb'
                        })
                    }).then(response => {
                        response.json().then(data => {
                            vm.teams = data.records;
                            console.log(data);
                        })                
                    });     
                }
            })

                   
        </script>   
    </body>
</html>
